<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Hotel</h1>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <button class="btn btn-success" routerLink="add"> <i class="fa fa-plus" aria-hidden="true"></i>  Add </button>
    <button class="btn btn-warning text-light ml-3" routerLink="edit"> <i class="fa fa-search" aria-hidden="true"></i> Search </button>
  </div>
</div>
<div class="alert alert-info mt-4" role="alert" [hidden]="!loading">
  Loading.........
</div>

<table class="table table-striped my-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Stars</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="hotels?.length > 0">
    <tr *ngFor="let hotel of hotels">
      <td>
        {{ hotel.id }}
    </td>
    <td>
      {{ hotel.name }}
    </td>
    <td>
      {{ hotel.status }}
    </td>
    <td>
      {{ hotel.stars }}
    </td>
     <td class="td-actions">
        <button routerLink="/hotel/edit/{{hotel.id}}"  type="button" class="btn btn-primary td-actions-btn-clrs" tooltip="Edit" [adaptivePosition]="false" placement="top">
          <i class="fa fa-pencil" aria-hidden="true"> </i>
        </button>
        <button style="margin-left: 5px;" type="button" 
        class="btn btn-danger td-actions-btn-clrs" [swal]="deleteSwal"
        tooltip="Delete"
        [adaptivePosition]="false"
        placement="top">
          <i class="fa fa-times" aria-hidden="true"> </i>
        </button>
      </td>
    <swal
      #deleteSwal
      title="Delete"
      text="Delete Hotel '{{ hotel.name }}'?"
      type="warning"
      icon="warning"
      [showCancelButton]="true"
      [focusCancel]="true"
      (confirm)="delete(hotel.id)"
      [swalOptions]="{ confirmButtonText: 'Yes!' }">
  </swal>
  <swal
      #confirmDeleted
      title="Deleted"
      text="'{{ hotel.name }}' was deleted"
      icon="success"
      type="information">
  </swal>
    </tr>
  </tbody>
</table>


<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
  [totalItems]="pagination?.totalItems"
  [itemsPerPage]="pagination?.itemsPerPage"
  (pageChanged)="onPageChanged($event)"
  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"> </pagination>
</div>

<div class="d-flex justify-content-center">
  {{ paginationText }}
</div>
