/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/*@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
*/

.container-center {
  margin-top: 200px;
}

.invalid {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.asterisk {
  color: #dc3545;
}