<div class="container">
  <div class="jumbotron">
    <div class="container text-center">
      <h2 class="display-5">Search Results</h2>
      <p class="lead">London: 6,161 properties found</p>
    </div>
  </div>
  <div class="">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 mt-2">
        <app-search-hotel-item></app-search-hotel-item>
      </div>
    </div>
  </div>
</div>