<div class="jumbotron">
  <div class="container">
    <h2 class="display-5">Find deals on hotels, homes and much more...</h2>
    <p class="lead">From cosy country homes to funky city flats</p>
    <form>
      <div class="form-row">
        <div class="col-md-5">
          <input type="text" class="form-control" placeholder="City">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" placeholder="Check in - Check out Date">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder="Adults">
        </div>
        <div class="col-md-2 col-sm-12">
          <button type="button" class="btn btn-primary text-light">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>