<div class="container">
  <div class="container my-5">
    <!-- <i class="fa fa-angle-left mb-4" aria-hidden="true"> Back </i> -->
    <h2>Confirm and pay</h2>
    <div class="row mt-5">
      <div class="col-md-7">
        <h3 class="mb-4">Your trip</h3>
        <h5>Dates</h5>
        <p class="mt-2"> {{ this.dateFrom | date: 'dd MMM yyyy' }} to {{ this.dateTo  | date: 'dd MMM yyyy'}}</p>

        <b>Guests</b>
        <p class="mt-2"> {{ this.adults  }}</p>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <h3>Pay With</h3>
          </div>
          <div class="col-md-8">
            <img src="../../../../assets/images/payment_methods.png" width="250px;" height="250px;"
            class="img-fluid pull-right">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required>
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required>
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Confirm and pay</button>
        

      </div>
      <div class="col-md-5">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <img src="../../../../assets/images/hotel_image.png" width="140px;" height="140px;"
                  class="img-thumbnail">
              </div>
              <div class="col-md-7 padding-0" style="font-size: 0.82em;">
                <p  class="text-muted">Private room in flat in Bournemouth
                </p>
                <span class="text-muted"> Twin bed loft bedroom Ideally
                  situated for Beaches</span> <br>
                  <div class="mt-1">
                    <div class="fa fa-star mb-4" aria-hidden="true"> 4.7 </div>
                    <span style="margin-left: 5px;"> Reviews: 17,923 </span>
                  </div>
              </div>
            </div>
            <hr>

            <div class="row mt-2">
              <div class="col-md-12">
                <h5>Price Details</h5>
                <div class="row mt-2">
                  <div class="col-md-6">
                    <p>£20.00 x 1 night</p>
                  </div>
                  <div class="col-md-4 offset-md-2">
                    <p class="pull-right">£20.00</p>
                  </div>
                  <div class="col-md-6">
                    <b>Total Fee</b>
                  </div>
                  <div class="col-md-4 offset-md-2">
                    <p class="pull-right">£20.00</p>
                  </div>
                </div>  
              </div>
            </div>

            <hr>
            <div class="row mt-3">
              <div class="col-md-12"style="font-size: 0.82em;">
                <h5>Free cancellation until 4:00 PM on 21 Nov</h5>
              <p class="text-muted">
                After that, cancel before 4:00 PM on 26 Nov and get a 50% refund, minus the first night and service fee. <a href="#">Learn more</a></p>
              </div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>