<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Add Hotel</h1>
</div>

<!-- 
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <input type="text" name="Name">
    </div>
  </div>
</div>
  -->

<div class="row">

  <div class="col-lg-4 col-md-4 col-sm-12 order-md-2 mb-4 my-3">
    <div class="card">
      <div class="card-header">
        <h5 >Main Settings</h5>
      </div>
      <div class="card-body">
        <div class="form-group row mb-4">
          <div class="col-md-12 col-sm-12">
            <label for="Status">Status</label>
            <select class="custom-select d-block w-100" id="Status" required>
              <option selected value=""> -- Select Status -- </option>
              <option value="1">Enabled</option>
              <option value="0">Disabled</option>
            </select>
            <div class="invalid-feedback">
              Status is required
            </div>
          </div>
        </div>
        <div class="form-group row mb-4">
          <div class="col-md-12 col-sm-12">
            <label for="Stars">Stars</label>
            <select class="custom-select d-block w-100" id="Stars" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="form-group row mb-4">
          <div class="col-md-12">
            <label for="Featured">Featured?</label>
            <select class="custom-select d-block w-100" id="Featured" required>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div> 
          </div>
          <div class="form-group row mb-4">
          <div class="col-md-6">
            <label for="FeaturedFrom">Featured Date</label>
              <input type="text" class="form-control" id="FeaturedFrom" name="FeaturedFrom" placeholder="From">
          </div>
          <div class="col-md-6">
            <label for="FeaturedTo">Featured Date</label>
            <input type="text" class="form-control" id="FeaturedTo"  name="FeaturedTo" placeholder="To">
          </div> 
          </div>
        </div>
      </div>
    </div>

  <div class="col-md-8 col-sm-12 order-md-1">
    <h4 class="mb-3">Basic Information</h4>
    <form class="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="Name">Name</label>
          <input type="text" class="form-control" id="Description" placeholder="" value="" required>
          <div class="invalid-feedback">
            Name is required.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="Description">Description</label>
          <div [(ngModel)]="content" name="content" id="content" [ngxSummernote]="config"></div>
        </div>
      </div>

      <hr>
      <h4 class="mb-3">Location</h4>

      <div class="mb-3">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
        <div class="invalid-feedback">
          Address is required.
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="country">Country</label>
          <select class="custom-select d-block w-100" id="country" required>
            <option value="">Choose...</option>
            <option>United States</option>
          </select>
          <div class="invalid-feedback">
            Country is required
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="state">City</label>
          <select class="custom-select d-block w-100" id="state" required>
            <option value="">Choose...</option>
            <option>California</option>
          </select>
          <div class="invalid-feedback">
            City is required
          </div>
        </div>
      </div>
      <hr class="mb-4">

      <h4 class="mb-3">Gallery</h4>

      
      <div class="row">
        <div class="col-md-12 mb-3">
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label> <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> <br>Click here or drop files to upload</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label style='height:100%; width: 100%; vertical-align: middle; margin-top: 10px;'>{{ f.name }} 
                {{ f.type }} 
                {{ f.size }} 
              </ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
      </div>
      <hr class="mb-4">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary" type="submit">Save <i style="margin-left: 5px;" class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>