<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../../../assets//images//hotel_image.png"
        width="200px;" height="200px;" class="img-thumbnail"> 
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 padding-0">
      <h4 class="mt-2">
        <a href="#">Blakemore Hyde Park </a> 
      </h4>
      <span style="font-size: 0.75em; padding-top: 0px;" class="text-muted"> Westminster Borough, London </span>
      <p class="mt-2">With free WiFi and 4-star bedrooms, the stylish Blakemore Hotel also features a leisure centre, a creative cocktail bar and restaurant open every day.</p>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-12">
        <div class="row">
          <span style="color: red; font-weight: bold;">
            Very good
          </span>
        </div>
       <div class="row">
        <span class="badge badge-info">5,763 reviews</span>
       </div>
       <div class="row">
        <button type="button"
         class="btn btn-dark btn-sm pull-right mt-3">
          <a routerLink="/detail" class="text-light"> See Details</a>
        </button>
       </div>
      </div>
    </div>
  </div>
</div>
