<div class="container my-5">

  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <app-sidebar [queryParams]="[searchCriteria]"></app-sidebar>
      </div>
      <div class="row mt-3">
        <div class="container">
          <div class="col-md-9">
            <button type="button" class="btn btn-info btn-block text-light">Make Reservation </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <h4 class="mt-2">
          Blakemore Hyde Park
        </h4>
        <span> <i class="fa fa-map-marker" aria-hidden="true"></i>
          30 Leinster Gardens, Bayswater, Westminster Borough, London, W2 3AN, United Kingdom </span>
      </div>
      <div class="row mt-2">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
      <div class="row mt-3">
        <h5>Description: </h5>
        <p>
          With free WiFi and 4-star bedrooms, the stylish Blakemore Hotel also features a leisure centre, a creative
          cocktail bar and restaurant open every day. Situated in elegant Bayswater, the hotel is a 5-minute walk from
          Hyde Park. <br /><br />

          The modern rooms at Blakemore Hyde Park each have a private bathroom with free toiletries and a hairdryer. All
          rooms and suites come with a TV, free tea/coffee and ironing facilities, and some have a seating area.
          <br /><br />

          A full English breakfast is served daily. You can also order afternoon tea between 12:00 and 17:30 at an extra
          cost. <br /><br />

          The Terrace Restaurant houses a conservatory-style seating area with floor-to-ceiling windows and a cocktail
          bar. <br /><br />

          The Blakemore Hyde Park Hotel is just 5 minutes’ walk from Bayswater and Queensway Underground stations.
          Oxford Street and Bond Street are just over a mile away, and Knightsbridge is a 20-minute walk. <br /><br />

          Couples particularly like the location — they rated it 8.7 for a two-person trip.

          We speak your language!
          <br /><br />
          <b>Blakemore Hyde Park has been welcoming Booking.com guests since 1 Oct 2006. </b>
        </p>
      </div>
      <hr>
      <div class="clear-fix"></div>
      <div class="row mt-3">
        <h5>Facilities: </h5> 
      </div>
      <div class="row mt-2">
        <p>
          <span><i class="fa fa-map-marker" aria-hidden="true"></i> Fitness centre </span>
          <span><i style="margin-left:15px;" class="fa fa-camera" aria-hidden="true"></i> Fitness centre </span>
        </p>
      </div>
    </div>
  </div>
</div>